//Fonts
$font-stack: "Roboto Condensed", sans-serif;
$font-stack-logo: "Permanent Marker", cursive;
$font-stack-nav: "Pacifico", cursive;

//Standardfärger
$text-color: #000000;
$text-color-active: #ffffff;
$text-color-accent:#007b9e;
$text-color-accent-hover: #005f73;
$button-text-color: #ffffff;

$bgcolor-main:  #f9f9f9;
$bgcolor-accent: #e0f7fa;
$bgcolor-inner: #ffffff;

$button-color: #007b9e;
$button-hover-color: #005f73;